<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white mb-5">Professional Management and a Logical Mind</h2>
          <p class="text-faded mb-4">
            <strong>Hello and Welcome!</strong> My name is John Blackwell and I am a new developer located in the Richmond, Virginia area. I have dabbled in a little bit of web coding for the past few years, but have recently taken a deep dive into JavaScript web development, through the
            <a class="text-faded red-link"
              href="https://codingbootcamp.richmond.edu/lp2/?s=G-Unbranded&dki=Coding&utm_cost=0&mkwid=aqD05vS3_dc&pkw=%2Bcoding%20%2Buniversity&pcrid=206937172244&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=%5BS%5D+General+Coding+-+Broad&utm_term=%2Bcoding%20%2Buniversity&utm_content=206937172244&s=google&k=%2Bcoding%20%2Buniversity&gclid=CjwKCAjw7MDPBRAFEiwAppdF9ELfhhDamGzTxxPEP63QnJZpFVpMEw01IaH9hHLM8KkUZ8hAVgax5BoCC1YQAvD_BwE">
              University of Richmond's Full-Stack Web Development Program.
            </a> 
            The program has been a very interesting way to learn many technologies and coding standards, as well as taught me how to learn a coding language. Already outside of class, I have gotten a good handle on PHP and Ruby (and am currently learning the Laravel and Rails frameworks). I am hoping over the next few months to transition to a career as a full time developer.
          </p>
          <hr class="light my-4">
          <div class="row">
            <div class="col-sm-4">
              <img src="static/img/cc125.png" alt="Shrimp Chimney" class="img-fluid">
            </div>
            <div class="col-sm-8">
              <p class="text-faded mb-4">
                For the last seven years I worked in the hospitality industry. I started off as an event bartender for 
                <a class="text-faded red-link"
                  href="http://www.thecommonwealthclub.net/Default.aspx?p=DynamicModule&pageid=317171&ssid=208240&vnf=1">
                  The Commonwealth Club
                </a>, and was promoted to the <strong>Banquet Manager</strong>. I managed corporate events and large weddings for the last four years. This included staffing and operations for all events on or off site. One of the most interesting experiences was managing the Club's 125<sup>th</sup> Anniversary. We hosted about 900 guests over six hours. There were two bands on different floors and some seriously intricate ice art (my favorite piece is to the left). As much as I enjoyed the work, I was getting burned out by the regular night shifts. Inspired and encouraged by my family, I decided to pursue development as my new and future career.
              </p>
            </div>  
          </div>
          <hr class="light my-4">
          <div class="row">
              <div class="col-sm-8">
                <p class="text-faded mb-4">
                  In my free time, I really enjoy exploring the Richmond (or whatever city we find ourselves in) with my fianc&#233e, Lindsay. We like visiting area breweries/wineries and restaurants or walking and exploring local parks particularly around the James River. We've also really enjoyed traveling over the last year. Over the summer, we visited the lakes in New Hampshire, Boston, San Diego, Washington D.C, and several cities around Virginia. We always try to find something fun and exciting to do, wherever we go.
                </p>
              </div> 
              <div class="col-sm-4">
                <img src="static/img/couple.png" alt="Lindsay and I" class="img-fluid">
              </div> 
            </div>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#media">Connect</a>
        </div>
      </div>
    </div>
</section>