<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img id="head-icon" src="static/img/head.png" alt="John Blackwell">
            John Blackwell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projectDropdown">
                        <a class="dropdown-item" href="/p1">Font Previewer</a>
                        <a class="dropdown-item" href="/p2">Giphy API</a>
                        <a class="dropdown-item" href="/p3">Tacky Lights Tracker</a>
                        <a class="dropdown-item" href="/p4">Kinja Platform Scraper</a>
                       <a class="dropdown-item" href="/p5">Pirate Clicky</a>
                        <a class="dropdown-item" href="/p6">Boredom Buster</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
