<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="John Blackwell's Professional Portfolio">
<meta name="author" content="John Blackwell">
<title>Portfolio</title>
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/portfolio-item.css" rel="stylesheet">
<link href="static/css/creative.min.css" rel="stylesheet">