<section class="bg-dark text-white">
    <div class="container text-white text-center">
      <a class="btn btn-light btn-xl sr-button" target="_blank" href="static/resume.pdf">Get My Resume Here</a>
    </div>
</section>