<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Technology Proficiencies</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.w3schools.com/html/default.asp">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/html5.png" alt="HTML logo">
            <h3 class="mb-3 skill-text">HTML/HTML 5</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.w3schools.com/css/default.asp">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/css3.png" alt="CSS logo">
            <h3 class="mb-3 skill-text">CSS/CSS 3</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="http://php.net/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/php.png" alt="PHP logo">
            <h3 class="mb-3 skill-text">PHP</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://developers.google.com/apis-explorer/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/googleApis.jpg" alt="Google API logo">
            <h3 class="mb-3 skill-text">Google APIs</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="http://es6-features.org/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/js.png" alt="JS logo">
            <h3 class="mb-3 skill-text">JavaScript/ES 6</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://jquery.com/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/jquery.png" alt="jQuery logo">
            <h3 class="mb-3 skill-text">jQuery</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.json.org/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/json.png" alt="JSON logo">
            <h3 class="mb-3 skill-text">JSON</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="http://ejs.co/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/ejs.jpg" alt="EJS logo">
            <h3 class="mb-3 skill-text">EJS</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://nodejs.org/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/node.png" alt="Node logo">
            <h3 class="mb-3 skill-text">Node</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://angular.io/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/angular.png" alt="Angular logo">
            <h3 class="mb-3 skill-text">Angular</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://reactjs.org/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/react.png" alt="React logo">
            <h3 class="mb-3 skill-text">React</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://expressjs.com/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/express.png" alt="Express logo">
            <h3 class="mb-3 skill-text">Express</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.ruby-lang.org/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/ruby.png" alt="ruby logo">
            <h3 class="mb-3 skill-text">Ruby</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://sass-lang.com/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/sass.png" alt="sass logo">
            <h3 class="mb-3 skill-text">Sass</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.mongodb.com">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/mongodb.jpg" alt="mongodb logo">
            <h3 class="mb-3 skill-text">MongoDB</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <a target="_blank" href="https://www.mysql.com/">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/mysql.png" alt="MySQL logo">
            <h3 class="mb-3 skill-text">MySQL</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>