<section id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Technology Proficiencies</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons" src="static/img/icons/html5.png" alt="HTML logo">
            <h3 class="mb-3">HTML/HTML 5</h3>
            <p class="text-muted mb-0">

            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img class="my-icon mb-3 sr-icons"  src="static/img/icons/css3.png" alt="CSS logo">
            <h3 class="mb-3">CSS/CSS 3</h3>
            <p class="text-muted mb-0">

            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons"  src="static/img/icons/php.png" alt="PHP logo">
              <h3 class="mb-3">PHP</h3>
            <p class="text-muted mb-0">

            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons"  src="static/img/icons/googleApis.jpg" alt="Google API logo">
              <h3 class="mb-3">Google APIs</h3>
            <p class="text-muted mb-0">

            </p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons" src="static/img/icons/js.png" alt="JS logo">
              <h3 class="mb-3">JavaScript</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons"  src="static/img/icons/jquery.png" alt="jQuery logo">
              <h3 class="mb-3">jQuery</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/json.png" alt="JSON logo">
                <h3 class="mb-3">JSON</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/ejs.jpg" alt="EJS logo">
                <h3 class="mb-3">EJS</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons" src="static/img/icons/node.png" alt="Node logo">
              <h3 class="mb-3">Node</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons"  src="static/img/icons/angular.png" alt="Angular logo">
              <h3 class="mb-3">Angular</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/react.png" alt="React logo">
                <h3 class="mb-3">React</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/express.png" alt="Express logo">
                <h3 class="mb-3">Express</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons" src="static/img/icons/ruby.png" alt="ruby logo">
              <h3 class="mb-3">Ruby</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="my-icon mb-3 sr-icons"  src="static/img/icons/sass.png" alt="sass logo">
              <h3 class="mb-3">Sass</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/mongodb.jpg" alt="mongodb logo">
                <h3 class="mb-3">MongoDB</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
                <img class="my-icon mb-3 sr-icons"  src="static/img/icons/mysql.png" alt="MySQL logo">
                <h3 class="mb-3">MySQL</h3>
              <p class="text-muted mb-0">

              </p>
            </div>
          </div>
      </div>
    </div>
</section>