<div class = "container">
    <div>
      <h1 class="my-4">Font Previewer</h1>
      <h2>Try out various fonts, styles, and sizes</h2>
    </div>
    <div class="formHolder">
      <form method="POST">
          <div class="row mb-2">
            <div class="col">
              Font Family
              <select name="font" id="font">
                <option value="helvetica" id="helvetica">Helvetica</option>
                <option value="times" id="times">Times</option>
                <option value="impact" id="impact">Impact</option>
                <option value="courier" id="courier">Courier</option>
                <option value="verdana" id="verdana">Verdana</option>
                <option value="georgia" id="georgia">Georgia</option>
                <option value="cursive" id="cursive">Comic Sans MS</option>
              </select>
            </div>
            <div class="col">
              Font Size  
              <input type="text" placeholder="12" id="size">
            </div>
            <div class="col">
              Bold <br>
              <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="col">
              Italic <br>
              <input type="checkbox" name="style" id="style">
            </div>
            <div class="col">
              Small Caps  <br>
              <input type="checkbox" name="variant" id="variant">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Lines
              <select name="lines" id="lines">
                <option value="none" id="none">None</option>
                <option value="underline" id="underline">Underline</option>
                <option value="line-through" id="line-through">Strike-Through</option>
                <option value="overline" id="overline">Overline</option>
              </select>
            </div>
            <div class="col">
              Line Styles
              <select name="line-style" id="line-style">
                <option value="initial" id="none">None</option>
                <option value="dashed" id="dashed">Dashed</option>
                <option value="dotted" id="dotted">Dotted</option>
                <option value="double" id="double">Double Line</option>
                <option value="wavy" id="wavy">Wavy</option>
              </select>
            </div>
          </div>  
      </form>
    </div>
    <div class="preview text-center">Sample Font</div>
    <textarea name="text" placeholder="Type something here and see what happens..." id="text" cols="30" rows="10"></textarea>
  </div>