h1 {
  color: #FF6D04;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 1rem;
  text-align: center;
} 

h2 {
  color: #665C3D;
  font-size: .9rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.preview {
  align: center;
  background: white;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  margin: 0 auto 0 auto;
  min-height: 150px;
  padding: 30px;
  word-wrap: break-word;
}


textarea {
  border-color: cadetblue;
  border-radius: 4px;
  border-style: solid;
  border-width:2px;
  display: block;
  font-family: "Helvetica-Light", "Helvetica", "Arial", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 30px auto 30px auto;
  padding: 20px;
}

.formHolder {
  background-color: cadetblue;
  border-radius: 4px 4px 0px 0px;
  color: white;
  font-family: "verdana";
  font-size: 0.75rem;
  margin: 40px auto 0 auto;
  padding: 20px;
  text-transform: uppercase;
  height: 100px;
}

.form {
  display: inline;
}

.italics {
  font-style: italic;
}
.bold {
  font-weight: bold
}
.variant{
  font-variant: small-caps;
}
.hidden-stuff {
  display:none;
}
