<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/porthead.ejs %>
    <link rel="stylesheet" type="text/css" href="static/css/typestyles.css">
  </head>

  <body>

    <% include ../partials/portnav.ejs %>

    <div class="test container">

      <div class="row">

        <div class="col-md-8" id="pageView">
          <% include ../partials/type.ejs %>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <p>
            This is a type editor/previewer that I built early on when I was first learning to work with HTML and CSS. I came back to it a few months later and added a little bit of JavaScript. 
          </p>
          <p>
              The next time I update this project I plan to add a few more fonts, ideally using an imported font-family.
          </p>
            <h3 class="my-3">Technologies Used</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
        </div>

      </div>

      <h3 class="my-4">Other Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div>
    </div>
    <% include ../partials/portfoot.ejs %>
    <script src="static/js/typemain.js"></script>
  </body>

</html>
