<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/porthead.ejs %>
  </head>

  <body>

    <% include ../partials/portnav.ejs %>

    <div class="test container">

      <div class="row">

        <div class="col-md-12" id="pageView">
          <iframe src="static/html-pages/3/index.html" height="100%" width="100%" frameborder="0"></iframe>
        </div>

        <div class="col-md-12">
          <h3 class="my-3">Project Description</h3>
          <p>
            The Tacky Light Tracker is a fun and dynamic holiday-themed app that helps you find the best tacky lights in town. This app shows you where to go and creates easy routes for your tour - you can even check the weather to ensure you’ll have the best view. Don’t forget to check out the Christmas playlist to get you in the spirit!
          </p>
          <h3 class="my-3">Technologies Used</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Firebase</li>
            <li>Google Maps API</li>
          </ul>
        </div>

      </div>
    </div>
    <% include ../partials/portfoot.ejs %>
  </body>

</html>
