<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/porthead.ejs %>
  </head>

  <body>

    <% include ../partials/portnav.ejs %>

    <div class="test container">

      <div class="row">

        <div class="col-md-12" id="pageView">
          <iframe src="https://shielded-shore-74892.herokuapp.com/" height="100%" width="100%" frameborder="0"></iframe>
        </div>

        <div class="col-md-12">
          <h3 class="my-3">Project Description</h3>
          <p>
            This is a React memory clicking game. All of the "cards are pre-made components with different information being rendered. It pulls individual card data from a MongoDB."
          </p>
          <h3 class="my-3">Technologies Used</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Express</li>
            <li>Node</li>
            <li>MongoDB, Mongoose</li>
          </ul>
        </div>

      </div>

    </div>
    <% include ../partials/portfoot.ejs %>
  </body>

</html>
